/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Public Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Lato', sans-serif; */



header {

    border-top-left-radius: 10px;
    /* Adjust the radius as needed */
    border-top-right-radius: 10px;
    width: auto;
    height: 165px;
    /* /*background-image: url('pattern.jpg'); */
    /* background-repeat: repeat; */
    /* background-color: #092d75; */
    background-color: #091f6dd9;
    ;
    text-align: left;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.3rem;
}

.banner {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin-bottom: 2.2rem;
}

firstname {
    font-size: 2rem;
    font-weight: 500;
}

.banner .lastname {
    font-size: 2rem;
    font-weight: 400;
    margin-top: -1rem;
}

.banner .position {
    letter-spacing: 0.3rem;
    margin-top: -0.5rem;
    font-size: 1.1rem;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    border-bottom-left-radius: 10px;
    /* Adjust the radius as needed */
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;

}

.left-part {
    width: 65%;
    height: 100%;
    background-color: #ffffff;
    padding: 2.8rem;
    text-align: left;
}

.right-part {
    width: 30%;
    height: 140%;
    padding: 1rem;
    background-color: #ef6c00;
    text-align: left;

}

.photo-container {
    margin-bottom: 2rem;
    margin-top: -5rem;
    margin-left: 1rem;
    width: 150px;
    height: 140px;
    border-radius: 11%;
    background-color: #000000;
}

.photo-container img {
    width: 100%;
    height: 100%;
    border-radius: 11%;
    border: 0.4rem solid rgb(30, 1, 1);
    box-shadow: rgb(255, 255, 255) 0px 8px 24px;
    display: block;
}

.title {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 0.6rem;
    background-color: #061967c9;
    box-shadow: rgb(255, 255, 255) 0px 8px 24px;
    color: white;
    text-align: center;
    margin: 1.4rem 0;
    border-radius: 10px;
}

.contact-container {
    margin-bottom: 2.2rem;
}

.contact-list {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #444440;
    font-size: 1rem;
}

.icon-container {
    margin-right: 10px;
    margin-left: 10px;

}

.contact-text {
    text-align: centre;
    margin-top: -1rem;
}

.skills-container .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
    font-family: 'Lato', sans-serif;
    color: #444440;
}

.skills-container .skill .right-skill .outer-layer {
    background-color: #BBBBBB;
    height: 0.4rem;
    width: 5rem;
    border-radius: 0.4rem;
}

.skills-container .skill .right-skill .inner-layer {
    background-color: #3D3D3D;
    height: 100%;
    border-radius: inherit;
}

.references {
    font-family: 'Lato', sans-serif;
    color: #444440;
}

.education-container {
    margin-bottom: 2.2rem;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
}

.education-container .course {
    margin-bottom: 1rem;
    color: #414042;
}

.education-container .education-title {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: .3rem;
}

.education-container .college-name {
    margin-bottom: 0.3rem;
    font-weight: 600;

}

.education-container .education-date {
    font-size: 0.9rem;
}